<div class="filters flex flex-jc-sb flex-ai-c">
    <div class="filter__item flex flex-jc-sb flex-ai-c">Estado de encendido<i class="ri-arrow-down-s-line filter__icon"></i></div>
    <div class="filter__item flex flex-jc-sb flex-ai-c">Duración de encendido<i class="ri-arrow-down-s-line filter__icon"></i></div>
    <div class="filter__item flex flex-jc-sb flex-ai-c">consumo eléctrico<i class="ri-arrow-down-s-line filter__icon"></i></div>
    <div class="filter__search flex flex-jc-sb flex-ai-c"><i class="ri-search-line filter__icon"></i></div>
</div>