<form name="registerForm" class="form" action="" method="POST">
    <%- typeof success != 'undefined' ? success : "" %>
    <section class="form__section">
        <label class="form__label" for="user">Username</label>
        <input class="form__input" name="username" id="user" type="text" placeholder="ej: usuario123">
    </section>
    <section class="form__section">                        
        <input class="form__input" name="password" id="pass" type="password" placeholder="Contraseña">
    </section>
    <section class="form__section">                        
        <input class="form__input" name="com-password" id="com-pass" type="password" placeholder="Confirmar contraseña">
    </section>
    <section class="form__section">
        <label class="form__label" for="name">Nombre Completo</label>
        <input class="form__input" name="name" id="name" type="text" placeholder="carlos alvarez">
    </section>
    <section class="form__section">
        <label class="form__label" for="address">direccion</label>
        <input class="form__input" name="address" id="address" type="text" placeholder="barquisimeto, edo. lara">
    </section>
    <section class="form__section flex flex-jc-sb flex-ai-c">
        <div>
            Ya tienes cuenta? <a href="/">Inicia sesión!</a>
        </div>
        <input class="button" type="submit" value="registrar">        
    </section>
</form>